
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'tenor';
    src: url('TenorSans-Regular.ttf');
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.section1{
    width: 40%;
    background-color: #D8B93C;
}

.img1 , .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 100%;
    height: 80%;
    padding-left: 110px;
}

.img1 img{
    width: 390px;
    height: 450px;
    margin-right: 274px;
}

.logo{
    width: 100%;
    height: 20%;
}

.logo img{
    width: 50%;
}

/* section 2 */

.section2{
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h2{
    color: #4D4C4C;
    font-family: 'tenor';
}

.header p{
    color: #8F8E8E;
    margin-top: 10px;
    font-family: 'tenor';
}

.header p a{
    text-decoration: none;
    color: #8F8E8E;
}

form{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.champ{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #ECECEC;
}

input:focus{
    outline-color: #8F8E8E;
}

label{
    margin-bottom: 10px;
    padding-left: 10px;
    color: #8F8E8E;
    font-family: 'tenor';
}

.btn{
    margin: 10px;
}

.btn button{
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    background-color: #D8B93C;
    cursor: pointer;
}

.lien{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien a{
    text-decoration: none;
    color: #8F8E8E;
    font-family: "tenor";
}

